# Ignore node_modules and dist folders
/node_modules
/dist

# Ignore environment variable files
.env
.env.production
.env.development
.env.testing
.env.local 

# Logs
logs

# Ignore TypeScript build output
*.tsbuildinfo

# Ignore IDE specific files
.vscode/
.idea/